/*Global Styles for the Page*/
body {
	font-family: Verdana, sans-serif; /* Sets font */
	background-color: #00BFFF; /* Light blue background color */
	color: #330000; /* Dark brown text color */
        margin: 0;
        padding: 0;
}

/* Wrapper for border around layout*/
.wrapper {
	margin: 20px; /* Adds margin around layout */
        border: 4px solid black; /* black border*/
}

/*Header Styling*/
header {
	background-color: #ccaa66; /* Light brown */
	text-align: center; /* Center-aligns the text */
	padding: 20px; /* Adds padding inside the header */
	font-size: 30px; /* Increases font size */
	font-weight: bold; /* Makes text bold */
	border-bottom: 2px solid black; /* Bottom border */
}


.container {
        display: flex; 
        min-height: 400px; 
}

/*Left Navigation Section*/
nav {
   	width: 25%;    
	background-color: #E8D882; /* Light yellow background */
    	padding: 20px; /* Adds padding inside navigation */
}

nav ul {
	list-style-type: none; /* Removes bullet points */
	padding: 0;
}

nav ul li {
	margin-bottom: 10px; /* Adds space between items */
}

nav ul li a {
	color: blue; /* Sets link color */
	text-decoration: none; /* Removes underline */
}

nav ul li a:hover {
        text-decoration: underline; /* Adds underline on hover */
}

/*Right Content Part*/
main {
	width: 75%; 
	background-color: #f1e8b0; /* Light beige background */
	padding: 20px; /* Adds padding inside */
	position: relative; /*Used for absolute positioning of image */
}

/*Right-Aligned Image*/
.petethepirate-img {
	position: absolute; 
	top: 70px; /* Moves it down from the top */
	right: 20px; /* Aligns to right */
	width: 180px; /* Setting image width */
	height: auto; 
}

/*Footer Styling*/
footer {
	background-color: #ccaa66; /* Light brown background */
    	text-align: center; 
    	padding: 10px; /* Adds space inside footer */
    	font-size: 14px; 
    	border-top: 2px solid black; /* Adds border on top */
}

/*Style of email link*/
.email-link {
    	color: blue; /* email link blue */
    	text-decoration: none; /* Removes underline */
}

.email-link:hover {
    	text-decoration: underline; /* Underlines on hover */
}

