
        body {
            font-family: sans-serif;
            margin: 0;
            padding: 0;
        }

        header {
            background-color: #f0f0f0;
            padding: 20px;
            display: flex;
            justify-content: space-between;
        }


        nav ul {
            list-style-type: none;

            display: flex;
        }


        nav ul li a {
            text-decoration: none;
            color: #333;
            padding: 5px 10px;
            border: 3px solid #000000;
        }


        main {
            padding: 20px;
        }

        #who-we-work-with {
        margin-bottom: 40px;
        display: grid;
        grid-template-columns: 1fr 1fr; /* Two equal-width columns */
        grid-gap: 20px; /* Spacing between grid items */
    }

    .client {
    border: 1px solid #ccc;
    padding: 20px;
    display: flex; /* Enable Flexbox */
    align-items: center; /* Vertical alignment */
}

.company-logo img{
	width: 100px;
    height: auto;
	max-height: 100px;
    display: flex; /* Flexbox for centering */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

.text {
    width: 70%;
    margin-left: 10%; /* Text occupies remaining 70% width */
}

        #client-testimonials {
            margin-bottom: 40px;
        }

        footer {
            background-color: #f0f0f0;
            padding: 20px;
            display: flex;
            justify-content: space-between;
        }


        .line {
    border-bottom: 1px solid black; /* Creates a horizontal line */
    margin: 10px 0;               /* Adds spacing above and below the line */
}
#sitemap{
    margin-left: 10%;    
}
    #sitemap ul{
        list-style-type: none;
        margin-left: -30%;
    }
    .vertical-line {
    height: 10; /* Length of the line */
    width: 0;     /* No width, the border makes the line */
    border-left: 2px solid #888; /* Style and color */
    display: inline-block; /* Or block, flex, etc. */        /* Spacing around the line */
}
.maps {
    display: flex;
    justify-content: center; /* Centers the image */
    align-items: center;
    padding: 10px; /* Adds some space around */
}

.maps img {
    width: 200px; /* Adjust width as needed */
    height: auto; /* Maintains aspect ratio */
    max-height: 150px; /* Ensures it doesn’t get too tall */
    border: 2px solid black; /* Optional: Adds a border */
}
 
.client-testimony{
    margin-left: 2%;
    margin-right: 2%;
    width: 200px;
    font-size: 10px;
}